<?xml version="1.0" encoding="utf-8" ?>
<configuration>

    <connectionStrings>
        <add name="Ql_NVConnectionString"
            connectionString="Data Source=|DataDirectory|\Ql_NV.sdf" providerName="Microsoft.SqlServerCe.Client.4.0" />
        <add name="control_user_pass.Properties.Settings.QL_VeXeKhachConnectionString"
            connectionString="Data Source=DESKTOP-L3TGD7A\TRUNGTU;Initial Catalog=QL_VeXeKhach;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="QL_NhanVien"
            connectionString="Data Source=DESKTOP-L3TGD7A\TRUNGTU;Initial Catalog=QL_NhanVien;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>