<?xml version="1.0" encoding="utf-8" ?>

<configuration>
    
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DoAn_LTWNC.Properties.Settings.Database1ConnectionString"
            connectionString="Data Source=|DataDirectory|\Database1.sdf"
            providerName="Microsoft.SqlServerCe.Client.4.0" />
        <add name="DoAn_LTWNC.Properties.Settings.QUANLYBANVEConnectionString"
            connectionString="Data Source=DESKTOP-L3TGD7A\TRUNGTU;Initial Catalog=QUANLYBANVE;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  

</configuration>